@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1.875rem;
  transition: all 500ms ease-in;
  min-height: 100vh;
}

.wrapper {
  margin: 0.125rem auto;
  width: 100%;
  max-width: 50rem;
  border: 1px solid #212427;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.875rem;
  background: #96120b;
  transition: 600ms ease-in;
  color: #ffdc5c;

  a {
    color: #212427;
    transition: 600ms;
  }
  .bx:hover {
    color: blue;
    transition: 200ms ease;
  }
}
.dark {
  background-color: #96120b;
  color: #ffdc5c;
  border: 1px solid #96120b;

  a {
    color: #ffdc5c;
  }
  .bx:hover {
    color: #47f3ff;
  }
}

.btn {
  width: 100%;
  height: auto;
  margin: 1.25rem auto;
}

.btn-color-change {
  width: 100%;
  max-width: 6.25rem;
  margin: 1.25rem;
  height: 5rem;

  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 1);
  border-radius: 0.3125rem;
  border: slategray 0.0625rem solid;
  transition: 0.4s;
}

.btn-color-change:hover {
  background-color: #96120b;
  color: #ffdc5c;
  transform: scale(1.1);
  border: none;
  box-shadow: none;
}

.profile,
.information {
  margin: 2.5rem;
}

.profile-image {
  width: 100%;
  max-width: 75rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.profile-pic {
  width: 100%;
  max-width: 15rem;
  height: auto;
  border-radius: 10rem;
}

.profile-name,
.profile-profession {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

p {
  font-size: 1.25rem;
  text-align: justify;
}

.logo {
  width: 100%;
  max-width: 3.25rem;
}

.bx {
  font-size: 3rem;
  margin-top: 1.875rem;
}

.tertiary,
.secondary {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  p {
    margin: 1.25rem;
  }
}

.profile-contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
  }
}

.profile-contact {
  margin: 1.5rem auto;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.button {
  border: 2px solid #ffdc5c;
  color: #ffdc5c;
  width: 100%;
  max-width: 200px;
  background: linear-gradient(45deg, #ffdc5c 50%, transparent 50%);
  background-size: 250% 100%;
  background-position: 100%;
  height: 50px;
  border-radius: 50px;
  visibility: visible;
  transition: 350ms ease-in-out;
  opacity: 1;
  &:hover {
    background-position: 0%;
    color: #96120b;
    cursor: pointer;
  }
  &.active {
    visibility: hidden;
    opacity: 0;
    transition: 200ms ease-in;
  }
}

.progressbar {
  width: 100%;
  max-width: 600px;
  height: 30px;
  background: #ffdc5c;
  visibility: hidden;
  overflow: hidden;
  border-radius: 40px;
  padding: 8px;
  opacity: 0;
  &.active {
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-in;
  }
}

.fill {
  height: 15px;
  border-radius: 10px;
  background-color: #96120b;
  width: 0;
  overflow: hidden;

  transition: all 500ms ease-in;
  &.active {
    animation-delay: 2000ms ease-in-out;
    animation: fill 5s linear forwards;
    transition: all 500ms ease-in;
  }
}
.globes {
  visibility: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 10%;
  max-width: 600px;
  &.active {
    visibility: visible;
    transition: all 500ms ease-in;
  }
}
.trucks {
  visibility: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  &.active {
    visibility: visible;
    transition: all 500ms ease-in;
  }
}
.computers {
  visibility: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 10%;
  max-width: 600px;
  border: 2px solid blue;
  &.active {
    visibility: visible;
    transition: all 500ms ease-in;
  }
}
.truck {
  color: #35c528;
  visibility: hidden;
  left: 0;
  position: relative;
  &.active {
    visibility: visible;
    transition: all 500ms ease-in;
    animation: move 5s linear forwards;
  }
}
.globe {
  color: #2673d8;
  visibility: hidden;
  &.active {
    visibility: visible;
    transition: all 500ms ease-in;
  }
}
.contain {
  display: flex;
  justify-self: start;
  align-items: center;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  height: fit-content;
}
.icons {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
}
.computer {
  color: rgb(231, 193, 24);
  visibility: hidden;
  &.active {
    visibility: visible;
    transition: all 500ms ease-in;
  }
}

.completed {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 100%;
  max-width: 600px;
  height: auto;
  &.active {
    visibility: visible;
    transition: all 500ms ease-in;
  }
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 0%;
  max-width: 300px;
  height: 0px;
  border-radius: 100%;
  border: 3px dashed #ffdc5c;
  visibility: hidden;
  transition: opacity 500ms ease-in;
  opacity: 0;
  &.active {
    transition: width 500ms ease-in;
    transition: height 800ms ease-in;
    transition: opacity 500ms ease-in;
    height: 200px;
    width: 200px;
    opacity: 1;
  }
}
.completed .circle span {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0 0 10px;
}
a {
  width: 100%;
  max-width: 200px;
}
@keyframes move {
  0% {
    left: 0%;
  }
  100% {
    left: 93%;
  }
}
@keyframes fill {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
